{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}
<script async="" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML" type="text/javascript">
          </script>

<article class="article
    {% if article.is_featured %} featured{% endif %}
    {% if not article.published %} unpublished{% endif %}">

    {% render_model article "lead_in" %}
    <h6>
      {% include "aldryn_newsblog/includes/author.html" with author=article.author %}
    </h6>

    {% if detail_view %}
        {% render_placeholder article.content language placeholder_language %}
    {% endif %}


</article>
