{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

<article class="article
    {% if article.is_featured %} featured{% endif %}
    {% if not article.published %} unpublished{% endif %}">

    {% if article.categories.exists %}
        <p>
            {% for category in article.categories.all %}
                <a href="{% namespace_url 'article-list-by-category' category.slug namespace=namespace default='' %}">{{ category.name }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}

        {% if not detail_view %}
            <h2><a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">{% render_model article "title" %}</h2></a>{{ article.publishing_date|date }}
        {% else %}
            <h2>{% render_model article "title" %}</h2>{{ article.publishing_date|date }}
        {% endif %}

    {% render_model article "lead_in" %}
    <h6>{% include "aldryn_newsblog/includes/author.html" with author=article.author %}</h6>

    {% if detail_view %}
        {% render_placeholder article.content language placeholder_language %}
    {% endif %}
</article>
